{% extends "global/base.html" %}

{% block content %}
  <div class="home__content">
    {% if content_title %}
      <h1 class="home__title">{{ content_title }}</h1>
    {% endif %}
  
    <p class="home__presentation">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, in
      possimus reiciendis ipsa vero qui id? Velit quam, vero voluptas pariatur
      quae obcaecati molestiae ad, repudiandae ipsam repellendus amet facere
      reprehenderit, recusandae officia necessitatibus quisquam eligendi rerum
      doloribus dolores. Nisi consequuntur accusamus illo labore placeat soluta
      tempora molestias dolorum officiis laudantium repellendus accusantium eaque
      perferendis fuga quidem dolorem eius sint dolor, similique, possimus at.
      Sapiente quisquam in molestias culpa accusantium eius, omnis laboriosam quod
      reprehenderit consequuntur quaerat non dolor! Molestiae molestias qui
      accusamus culpa impedit sit pariatur saepe porro nam autem? Deserunt
      architecto at, numquam inventore reprehenderit fugiat necessitatibus impedit
      nemo mollitia placeat expedita obcaecati minima sequi dicta cum itaque hic
      aperiam maxime. Accusamus deserunt ratione sunt voluptatum perferendis
      laboriosam autem? Tenetur facere tempora repellat? Aperiam quas dolores
      quaerat, placeat dignissimos eius accusamus incidunt fugiat fugit expedita
      ea voluptatum enim voluptas impedit, voluptatibus architecto. Illo,
      perferendis itaque tempora enim mollitia sint quasi reiciendis error
      praesentium soluta ipsam id architecto ullam sed nobis, consequuntur, labore
      ratione esse veritatis recusandae excepturi quos et distinctio.
      Necessitatibus commodi iure error iusto molestias enim facilis doloremque
      autem! Tenetur mollitia, odio assumenda voluptate accusantium amet
      consequuntur quod minus aperiam nam officiis officia ipsa? Consequatur,
      corporis atque?
    </p>
  </div>
{% endblock content %}