* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: azure;
  background-color: lightcoral;
  padding: 1.5rem;
}

.menu {
  background-color: aquamarine;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  background-color: lightslategray;
  padding: .5rem .8rem;
  border-radius: .2rem;
  color: azure;
}